.lottoNumber {
  display: block;
  padding: .5em;
}

.lottoNumber input {
  width: 50px;
  margin-right: .5rem;
}

.customArray {
  padding: .2em .2em;
  list-style-type: none;
  margin: .1em .1em;
  display: inline-block;
}

.customArray li {
  cursor: pointer;
  background: lightgray;
  padding: .1em .3em;
  margin-bottom: .1em;
}

.invalid {
  color: red;
}

button.show-rules {
  padding: 0;
  margin-left: .5rem;
  /* display: inline-block; */
}

#customDiv {
  text-align: center;
  padding: .5em;
  display: inline-block;
  background: darkgray;
}
