<h1>{{title}}</h1>
<div *ngIf="step > 1">
  <button type="button" (click)="step = 1">Back to Step 1</button>
</div>
<form *ngIf="step === 1" [formGroup]="appForm">
  <input type="radio" formControlName="lotteryGameOptions" value="0">Fantasy 5
  <input type="radio" formControlName="lotteryGameOptions" value="1"> Florida Lotto
  <button *ngIf="lottoGameControls.valid" type="button" (click)="onSelect(lottoGameControls.value)">next step </button>
</form>
<app-top-picks *ngIf="step === 2" [lottoGame]="selectedLG"></app-top-picks>
<app-compare-2-history *ngIf="step === 3" (llGenerated)="onLLgenerated($event)"></app-compare-2-history>
